<div class="sidenav" style="height:100%">
    <div class="sidenav-content" style="height:100%" [ngClass]="{'sidenav-expanded': isExpanded}">
        <mat-nav-list fxLayout="column" style="height:100%" >

            <side-menu-item [wide]="isExpanded" *ngFor="let item of navItems" [item]="item"></side-menu-item>
            <side-menu-item [wide]="isExpanded" *ngFor="let item of widgetItems" [item]="item"></side-menu-item>

            <!-- Side nav Contributions -->
            <side-menu-item [wide]="isExpanded" *ngFor="let item of menuItems" [item]="item"></side-menu-item>
            

            <mat-divider ></mat-divider>

            <!-- Workbench Items -->
            <side-menu-item [wide]="isExpanded" *ngFor="let item of navBasicItems" [item]="item"></side-menu-item>
       
            <mat-divider></mat-divider>

            <div fxFlex ></div>

            <mat-divider ></mat-divider>

            <div [fxLayout]="expandLayout" >
                <mat-list-item fxFlex (click)="dialogService.openMatDialog('settings')" >
                    <button color="primary" mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                    <span class="navLbl" *ngIf="isExpanded">{{ "SETTINGS_TITLE" | translate }}</span>
                </mat-list-item>
                <mat-list-item (click)="toggleExpanded()" >
                    <button class="close-menu" color="primary" [title]="'TOOLTIPS.EXPAND_MENU' | translate" mat-icon-button>
                        <mat-icon [@arrowRotate]="isExpanded ? 'backward': 'forward'" >
                            arrow_backward
                        </mat-icon>
                    </button>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </div>
</div>
