mat-grid-list {
    margin: 30px;

    mat-grid-tile {
        background: lightblue;

        fa-icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20px;
        }
        
        .icon-name {
            font-size: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            text-align: center;
        }
    }
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search-field {
    width: 100%;
}

h1 {
    font-weight: 200;
    color: lightgray;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 20px;
    margin-bottom: 5px;
}

hr {
    margin: 0 20px;
    padding: 0;
    margin-bottom: 30px;
}