mat-grid-list {
    margin: 30px;

    mat-grid-tile {
        background: lightblue;
             
        .icon-name {
            font-size: 10px;
        }
    }

    .icon-tile {
        cursor: pointer;
    }
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search-field {
    width: 100%;
}
