.row-presentation {
    border: solid 1px lightgrey ;
    border-radius: 4px;
    margin: 0 15px;
    padding:2px;
    padding-bottom: 7px;
    box-shadow: 3px 2px #888888;
}

.row-label {
    font-size: 12pt;
    padding: 5px;
}