div.toolbar {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    mat-toolbar.mat-toolbar {
        height: 45px;
        padding: 0 8px;
    }
}
