@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/font/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Source Sans Pro", sans;
    font-size: 17px;
}

::selection {
    color: whitesmoke;
    background: #546e7a;
}

*:focus {
    outline: none;
}

// Material override
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: lightgray !important;
}

mat-dialog-content.mat-dialog-content {
    max-height: none;
}

// Color picker override

// Snackbar
snack-bar-container.snackbar {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-bottom: 0;
    color: #555555;

    simple-snack-bar.mat-simple-snackbar {
        font-size: 15px;

        button {
            color: #555555;
        }
    }
}

// By default, Angular component styles are scoped
// to affect the component's view. This means that 
// the styles you write will affect all the elements 
// in your component template. They will not affect 
// elements that are children of other components within
// your template. 
// https://material.angular.io/guide/customizing-component-styles
mat-list-item.mat-list-item {
    div.mat-list-item-content {
        padding:0 2px !important;
    }
}

 .mat-accent .mat-slider-thumb {
    background-color: rgba(0, 0, 0, 0.87) !important;
}
 .mat-accent .mat-slider-thumb-label {
    background-color: rgba(204, 11, 11, 0.87) !important;
}

.mat-accent .mat-slider-track-fill {
    background-color: rgba(0, 0, 0, 0.87) !important;
}