<div class="shortcuts">
    <button class="close-dialog" color="primary" mat-dialog-close mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
    </button>

    <h2 mat-dialog-title>{{ "SHORTCUTS_TITLE" | translate }}</h2>

    <mat-dialog-content>
        <table>
            <tr>
                <td><span>Esc</span></td>
                <td>{{ "TOOLTIPS.ESC" | translate }}</td>
                <td><span>Shift</span> + <span>?</span></td>
                <td>{{ "TOOLTIPS.SHORTCUTS" | translate }}</td>
            </tr>
          
        </table>
    </mat-dialog-content>
</div>
